{% extends 'alumnos/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container mb-2">
  <h1 class="text-center">Perfil del Administrador</h1>
  <table class="table ">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Foto</th>
    </tr>
    <tr>
      <td>{{ session['n_usuario'] }}</td>
      <td>{{ session['n_apellido'] }}</td>
      <td><img src="{{ url_for('uploads', filename=session['foto']) }}" width="100" height="100" alt="Foto de usuario"></td>
    </tr >
  </table >
</div>

<div class="card text-bg-dark">
    <img src="/static/imgs/work.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Oferta de administracion</h5>
      <p class="card-text">Queremos brindarte la mejor asistencia.</p>
      <p class="card-text"><small>Contactanos</small></p>
    </div>
  </div>
{% endblock %}